extends layout

block content
	h1 Criar uma conta
	form(method="POST" action="register")
		div(class="form-group")
			label(for="name" class="col-lg-2 control-label") Nome:
			input(type="text" id="name" name="name" class="form-control" placeholder="Nome")
		div(class="form-group")
			label(for="email" class="col-lg-2 control-label") Email:
			input(type="email" id="email" name="email" class="form-control" placeholder="Email")
		div(class="form-group")
			label(for="senha" class="col-lg-2 control-label") Senha:
			input(type="password" id="senha" name="senha" class="form-control" placeholder="Senha")
		div(class="form-group")
			label(for="conf_senha" class="col-lg-2 control-label") Confirmar Senha:
			input(type="password" id="conf_senha" name="conf_senha" class="form-control" placeholder="Confirmar Senha")
		div(class="form-group")
			button(type="submit" class="btn btn-primary") Enviar
		div(class="form-group")
			a(href="/") Voltar
